h1{
  color: #4b5320; font-size: xx-large; font-family: georgia;
}

h2{
  color: #4b5320; font-size: x-large; font-family: georgia;
}

body{
  color: black; font-size: large; background-image: url(https://pin.it/6UELOKQ);
}
